.login1{
    width:40vw;
   background-image: linear-gradient(89deg, rgb(15, 241, 241), rgb(189, 177, 15));
    height: auto;
    /* border: 1px solid rosybrown; */
    margin: auto;
    text-align: center;
    margin-top: 40px;
    box-shadow: 10px 10px 10px rgb(241, 216, 216);
    padding-bottom: 10px;
}

.login{
    /* background-color: rgb(193, 222, 226); */
    margin-top: 0px;
    color: whitesmoke;
   
}
input:active{
    color: rgb(130, 137, 238);
    padding: 10px;
    min-width: 50%;
    margin-top: 10px;
    border: 0px;
    border-radius: 10px;
    color: rgb(32, 48, 139);
    font-size: 15px;
    background-color: rgb(19, 19, 133);

}

.button-crt{
    border: 0px;
    letter-spacing: 1px;
    background-color: #ff219f;

    width: 100%;
    height: 35px;
    border-radius: 5px;
    cursor:pointer;
    font-size: 15px;
   color: white;
    box-shadow:2px 2px 4px lightgray ;

    animation: transform 1s;

    outline: 0;
}

.button-crt:hover{
    background-color: #8f024f;
}
.button-crt:active{
    transform: scale(1.05,1.05);
}