<!-- Write HTML code here -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Student Attendance Information</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<table id='datatable'></table>	
</div>
   <script>
	$(function() {
		$('#datatable')({
		  striped: true,
		  pagination: true,
		  showColumns: true,
		  showToggle: true,
		  showExport: true,
		  sortable: true,
		  paginationVAlign: 'both',
		  pageSize: 25,
		  pageList: [10, 25, 50, 100, 'ALL'],
		  columns: {{ columns|safe }},  
		  data: {{ data|safe }}, 
		});
	  });
   </script>
</body>
</html>
