{% extends 'teacher_template/base_template.html' %}
{% block page_title %}
Attendance via Face Recognition System
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
             
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Take Attendance of Students using Face Recognition System</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="form-group">
                        {% if messages %}
                            {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                            {% endif %}
                            {% if message.tags == 'success' %}
                            <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                <form role="form" action="{% url 'save_face_attendance_data' %}" method="post">
                        {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                            <label>Subject </label>
                            <select class="form-control" name="subject" id="subject">
                                {% for subject in subjects %}
                                <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 text-center">
                            <p></p>
                            <a> Click on the button below to open the camera which will detect and recognize student
                                faces !!! </a>
                            <p></p>
                        </div>
                        <div class="col-12 text-center">
                            <p></p>
                            <a> After the Attendance is done please enter 'ENTER' key to close the camera </a>
                            <p></p>
                        </div>
                    </div>
                    <div align="right" class="card-footer">
                        <button class="btn btn-info">Save Data</button>
                    </div>
                </form>
                    <!-- /.card-body -->
                    <div align="center" class="card-footer">
                        <a class="btn btn-small" href="{% url 'clear_csv_file' %}">Clear Data</a>
                        <button class="btn btn-danger" onclick="location.href='{% url 'script' %}'">Open
                            Recognizer</button>
                        
                    </div>
                </div>
                <!-- /.card -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Fetch Student Attendance Data</h3>
                    </div>
                    <br />
                    <h5 align="center">Please! Reload the attendance data after attendance is taken every time</h5>
                    <br />
                    <div class="table-responsive">
                        <div id="attendance_table">
                            <div align="center" class="card-footer">
                                <button class="btn btn-info" onclick="location.href='{% url 'button' %}'">Reload
                                    Attendance Data</button>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <br />
                        <div class="card-body table-responsive p-0">
                            <h5 align="center">View the attendance data by clicking the button below</h5>
                            <br />
                            <div align="center">
                                <button type="button" name="load_data" id="load_data" class="btn btn-info">Load
                                    Data</button>
                            </div>
                            <br />
                            <div id="attendance_table1">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        {% url 'readcsv' as readcsv %}
                        <a href={{ readcsv }} class="btn btn-success btn-block">View Attendance</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- /.content -->
{% endblock main_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#load_data').click(function () {

            $.ajax({
                url: "Attendance.csv",
                dataType: "text",
                async: false,

                success: function (data) {
                    var attendance_data = data.split(/\r?\n|\r/);
                    var table_data = '<table class="table table-bordered table-striped">';

                    for (var count = 0; count < attendance_data.length; count++) {
                        var cell_data = attendance_data[count].split(",");
                        table_data += '<tr>';
                        for (var cell_count = 0; cell_count < cell_data.length; cell_count++) {
                            if (count === 0) {
                                table_data += '<th>' + cell_data[cell_count] + '</th>';
                            }
                            else {
                                table_data += '<td>' + cell_data[cell_count] + '</td>';
                            }
                        }
                        table_data += '</tr>';
                    }
                    table_data += '</table>';
                    $('#attendance_table1').html(table_data);
                },
                error: function (request, status, error) {
                    alert(request.statusText + ", " + error);
                }
            });
        });
    });
</script>
